
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@import "./theme-carbonara";
@import '~@angular/material/theming';

$prim-palette: mat-palette($md-primcarbonara);
$acc-palette: mat-palette($md-acccarbonara);
$CarbonaraAngular-primary: mat.define-palette($prim-palette);
$CarbonaraAngular-accent: mat.define-palette($acc-palette);


// The warn palette is optional (defaults to red).
$CarbonaraAngular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CarbonaraAngular-theme: mat.define-light-theme((
  color: (
    primary: $CarbonaraAngular-primary,
    accent: $CarbonaraAngular-accent,
    warn: $CarbonaraAngular-warn,
  )
));
$color-primary: mat-color($prim-palette);
$color-accent: mat-color($acc-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CarbonaraAngular-theme);

.color-primary {
    color: $color-primary;
}
.color-accent {
    color: $color-accent;
}
.backcolor-primary {
    background-color: $color-primary;
}
.backcolor-accent {
    background-color: $color-accent;
}
