/* For use in src/lib/core/theming/_palette.scss */
$md-primcarbonara: (
    50 : #f8f9f9,
    100 : #eeeff0,
    200 : #e2e5e7,
    300 : #d6dadd,
    400 : #ced2d5,
    500 : #c5cace,
    600 : #bfc5c9,
    700 : #b8bdc2,
    800 : #b0b7bc,
    900 : #a3abb0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f5fbff,
    A700 : #dbf0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-acccarbonara: (
    50 : #fff0e5,
    100 : #ffdabe,
    200 : #ffc293,
    300 : #ffa968,
    400 : #ff9647,
    500 : #ff8427,
    600 : #ff7c23,
    700 : #ff711d,
    800 : #ff6717,
    900 : #ff540e,
    A100 : #ffffff,
    A200 : #fff9f6,
    A400 : #ffd2c3,
    A700 : #ffbfaa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

