<mat-card>
    <mat-card-title>
        Passwort ändern
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">

        <div class="container" style="margin-right: 6%;">
            <div class="row">
                <mat-form-field>
                    <mat-label>Altes Passwort</mat-label>
                    <input matInput formControlName="oldPassword" type="password" />
                    <mat-error>
                        Geben Sie ihr altes Passwort ein.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Neues Passwort</mat-label>
                    <input matInput formControlName="newPassword" type="password" />
                    <mat-error *ngIf="form.get('newPassword')?.invalid">
                        Geben Sie ein gültiges Passwort ein. Probleme: {{getPasswordErrors()}}
                    </mat-error>
                </mat-form-field>
            </div>
            
          
        </div>

        </form>
    </mat-card-content>
    
    <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" ass="m-4"  (click)="cancel()">Abbrechen</button>
        <button mat-raised-button color="accent" class="m-4" [disabled]="form.invalid" (click)="submit()">Passwort ändern</button>
    </mat-card-actions>
</mat-card>