

  .mat-column-item {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-price {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-totalAmount {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-position {
    padding-left: 16px;
    padding-right: 16px;
  }

 