.mat-column-name {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-registrationFee {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-priceKm {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-priceWholeDay {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-priceHourDay {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-priceHourNight {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-priceHourOverdue {
    padding-left: 16px;
    padding-right: 16px;
  }
 
